<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.matrixlab.comicopia.dao.mapper.comic.ComicMapper">

    <resultMap id="ComicDetailsVO" type="dev.matrixlab.comicopia.vo.comic.ComicDetailsVO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="cover_url" jdbcType="VARCHAR" property="coverUrl"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="views" jdbcType="BIGINT" property="views"/>
        <result column="likes" jdbcType="BIGINT" property="likes"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate"/>

        <collection property="authors" ofType="dev.matrixlab.comicopia.vo.comic.AuthorVO">
            <id column="a_id" jdbcType="BIGINT" property="id"/>
            <result column="a_name" jdbcType="VARCHAR" property="name"/>
            <result column="a_avatar" jdbcType="VARCHAR" property="avatar"/>
        </collection>

        <collection property="chapters" ofType="dev.matrixlab.comicopia.vo.comic.ChapterVO">
            <id column="c_id" jdbcType="BIGINT" property="id"/>
            <result column="c_comic_id" jdbcType="BIGINT" property="comicId"/>
            <result column="c_title" jdbcType="VARCHAR" property="title"/>
            <result column="c_sub_title" jdbcType="VARCHAR" property="subTitle"/>
            <result column="c_order" jdbcType="INTEGER" property="order"/>
            <result column="c_gmt_create" jdbcType="BIGINT" property="gmtCreate"/>
        </collection>
    </resultMap>

    <insert id="insertComic" parameterType="dev.matrixlab.comicopia.entity.comic.ComicDO" useGeneratedKeys="true" keyProperty="id">
        insert into com_comic (id, name, description, cover_url, status, views, likes, gmt_create, gmt_modified)
        values (#{id, jdbcType=BIGINT}, #{name, jdbcType=VARCHAR}, #{description, jdbcType=VARCHAR}, #{coverUrl, jdbcType=VARCHAR},
        #{status, jdbcType=INTEGER}, #{views, jdbcType=BIGINT}, #{likes, jdbcType=BIGINT}, #{gmtCreate, jdbcType=BIGINT}, #{gmtModified, jdbcType=BIGINT})
    </insert>

    <delete id="deleteComicById">
        delete from com_comic where id = #{id}
    </delete>

    <update id="updateComicById" parameterType="dev.matrixlab.comicopia.entity.comic.ComicDO">
        update com_comic c
        <set>
            <if test="name != null">
                c.name = #{name},
            </if>
            <if test="description != null">
                c.description = #{description},
            </if>
            <if test="coverUrl != null">
                c.cover_url = #{coverUrl},
            </if>
            <if test="status != null">
                c.status = #{status},
            </if>
            <if test="views != null">
                c.views = #{views},
            </if>
            <if test="likes != null">
                c.likes = #{likes},
            </if>
            <if test="gmtModified != null">
                c.gmt_modified = #{gmtModified},
            </if>
        </set>
        <where>
            c.id = #{id}
        </where>
    </update>

    <update id="updateViewsById">
        update com_comic c
        set c.views = c.views + 1
        where c.id = #{id}
    </update>

    <update id="updateViewsByChapterId">
        update com_comic c
        left join com_chapter ch on ch.comic_id = c.id
        set c.views = c.views + 1
        where ch.id = #{chapterId}
    </update>

    <select id="selectComics" resultType="dev.matrixlab.comicopia.vo.comic.ComicVO">
        select c.id, c.name, c.description, c.cover_url, c.status, c.views, c.likes, c.gmt_create, c.gmt_modified
        from com_comic c
    </select>

    <select id="selectComicsByName" resultType="dev.matrixlab.comicopia.vo.comic.ComicVO">
        select c.id, c.name, c.description, c.cover_url, c.status, c.views, c.likes, c.gmt_create, c.gmt_modified
        from com_comic c
        where c.name like concat('%', #{comicName}, '%')
    </select>

    <select id="countComicsByName" resultType="int">
        select count(*)
        from com_comic c
        where c.name = #{comicName}
    </select>

    <select id="countComicsById" resultType="int">
        select count(*)
        from com_comic c
        where c.id = #{id}
    </select>

    <select id="selectComicDetailsById" resultMap="ComicDetailsVO">
        select c.id, c.name, c.description, c.cover_url, c.status, c.views, c.likes, c.gmt_create,
            a.id a_id, a.name a_name, a.avatar a_avatar,
            ch.id c_id, ch.comic_id c_comic_id, ch.title c_title, ch.sub_title c_sub_title, ch.order c_order, ch.gmt_create c_gmt_create
        from com_comic c
        left join com_comic_author cca on cca.comic_id = c.id
        left join com_author a on cca.author_id = a.id
        left join com_chapter ch on ch.comic_id = c.id
        where c.id = #{id}
    </select>

    <select id="selectComicsByAuthorName" resultType="dev.matrixlab.comicopia.vo.comic.ComicVO">
        select distinct c.id, c.name, c.description, c.cover_url, c.status, c.views, c.likes, c.gmt_create, c.gmt_modified
        from com_comic c
        left join com_comic_author cca on cca.comic_id = c.id
        left join com_author a on cca.author_id = a.id
        where a.name like concat('%', #{authorName}, '%')
    </select>

    <select id="selectComicsByCategoryName" resultType="dev.matrixlab.comicopia.vo.comic.ComicVO">
        select distinct c.id, c.name, c.description, c.cover_url, c.status, c.views, c.likes, c.gmt_create, c.gmt_modified
        from com_comic c
        left join com_comic_category ccc on ccc.comic_id = c.id
        left join com_category ca on ccc.category_id = ca.id
        where ca.name like concat('%', #{categoryName}, '%')
    </select>

    <update id="updateComicModifiedTimeById">
        update com_comic c
        set c.gmt_modified = #{modifiedTime}
        where c.id = #{id}
    </update>

</mapper>